
#logo{
    width:63px;
    height: 63px;
    padding: 0;
    margin: 0;
}

.carousel-caption{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    color: #ffc107;
    text-shadow: 2px, 2px, 2px, black;
}





